<div class="body">
    <div class="d-flex flex-column w-100">
        <h1>How to Register / Login</h1>
        <div class="d-flex flex-row flex-wrap justify-content-evenly align-items-center p-4 bg-white">
            <video  controls height="auto" width="100%">
                <source src="../assets/videos/placeOrder.mp4" type="video/mp4">
            </video>
            <ul class="mt-2">
                <li>Password Can Be Any Eight Characters or Longer</li>
                <li>Include Street Address Including Apt Number</li>
            </ul>
        </div>
        
    </div>
    <div class="d-flex flex-column w-100 mt-5">
        <h1>How to Order</h1>
        <div class="d-flex flex-row flex-wrap-reverse justify-content-evenly align-items-center p-4 bg-white">
            <ul class="mt-2">
                <li>Searching for Items</li>
                <li>Adding Items to Cart</li>
                <li>Reviewing Your Cart</li>
                <li>Adding, Subtracting or Deleting Items</li>
                <li>Picking Your Shopper</li>
                <li>Scheduling Your Order</li>
            </ul>
            <video controls width="100%">
                <source src="../assets/videos/placeOrder.mp4" type="video/mp4">
            </video>
            
        </div>
        
    </div>
    <div class="d-flex flex-column w-100 mt-5">
        <h1>How to Modify Current Order</h1>
        <div class="d-flex flex-row flex-wrap justify-content-evenly align-items-center p-4 bg-white">
            <video  controls height="auto" width="100%">
                <source src="../assets/videos/placeOrder.mp4" type="video/mp4">
            </video>
            <ul class="mt-2">
                <li>Adding Items to Current Order</li>
                <li>No Need to Notify Us</li>
                <li>Immediately Shares Order Changes</li>
            </ul>
        </div>
        
    </div>
    <div class="d-flex flex-column w-100 mt-5">
        <h1>The Ease of Re Ordering</h1>
        <div class="d-flex flex-row flex-wrap-reverse justify-content-evenly align-items-center p-4 bg-white">
            <ul class="mt-2">
                <li>Previous Items You've Ordered</li>
                <li>No need to Search Again for Previous Items</li>
                <li>Simply Click and Add it to Cart </li>
                <li>Searching for New Items</li>
                <li>Complete Your Order Like Before</li>
            </ul>
            <video controls width="100%">
                <source src="../assets/videos/modifyOrderOutput.mp4" type="video/mp4">
            </video>
            
        </div>
        
    </div>
    
</div>
