<div class="body">
    <div class="d-flex flex-column w-100">
        <h1>Register/Login</h1>
        <div class="d-flex flex-row flex-wrap justify-content-evenly align-items-center p-4 bg-white">
            <video  controls height="auto" width="100%">
                <source src="../assets/videos/placeOrder.mp4" type="video/mp4">
            </video>
            <h5>This is sweet</h5>
        </div>
        
    </div>
    <div class="d-flex flex-column w-100 mt-5">
        <h1>Place an Order</h1>
        <div class="d-flex flex-row flex-wrap-reverse justify-content-evenly align-items-center p-4 bg-white">
            <h5>This is sweet</h5>
            <video controls width="100%">
                <source src="../assets/videos/placeOrder.mp4" type="video/mp4">
            </video>
            
        </div>
        
    </div>
    <div class="d-flex flex-column w-100 mt-5">
        <h1>Modify an Order</h1>
        <div class="d-flex flex-row flex-wrap-reverse justify-content-evenly align-items-center p-4 bg-white">
            <h5>This is sweet</h5>
            <video controls width="100%">
                <source src="../assets/videos/modifyOrderOutput.mp4" type="video/mp4">
            </video>
            
        </div>
        
    </div>
    
</div>
