

.bodyReviews{
    padding-top: 100px;
    width: 100%;
    overflow:hidden;
    display: flex;
    z-index: 1;
}

.reviewMainContainer{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 100%;
    justify-content: center;
    z-index: inherit;
}

.createReviewContainer{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.reviewsContainerWithTitle{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.reviewsContainer{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 300px;
    width: 400px;
    background-color: white;
}

.reviewDataContainer{
    display: flex;
    flex-direction: column;
}

ngb-rating{
    font-size: 40px;
    margin-top: 0;
    padding-top: 0;
}

.reviewTitle{
    font-size: 50px;
    text-align: center;
}




@media (max-width:850px) {
    mat-divider{
        display: none;
    }

    .reviewMainContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .createReviewContainer{
        align-self: center;
        margin-bottom: 20px;
        margin-right: 0px;
    }

    .reviewsContainerWithTitle{
        
        margin-left: 0px;
    }

    .reviewsContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}

