
<div class="bodyReviews">
    <div class="reviewMainContainer">
        <div class="createReviewContainer">
            <div class="reviewTitle">Leave a review!</div>
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input [(ngModel)]="reviewTitle" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Review</mat-label>
                <textarea [(ngModel)]="review" matInput></textarea>
            </mat-form-field>
            <mat-label>Rating</mat-label>
            <ngb-rating 
            [(rate)]="currentRate"
            [max]="5"
            ></ngb-rating>
            <button  mat-raised-button (click)="createReview()">Send</button>
            
        </div>
        
        <div class="reviewsContainerWithTitle">
            <div class="reviewTitle">Reviews</div>
            <div class="reviewsContainer">
                <div *ngFor="let review of reviews" class="reviewDataContainer">
                    <div>{{review.title}}</div>
                    <div>{{review.review}}</div>
                    <ngb-rating 
                        [(rate)]="review.rating"
                        [readonly]="readonly"
                    ></ngb-rating>
                </div>
            </div>
        </div>
    </div>
    
    

    
</div>


