.dataContainer{
    width: 100%;
    flex-direction: row;
}

.datesContainer{
    display:  flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.listContainer{
    width: 100%;
}

.test{
    display: flex;
    flex-direction: row;
}