.orders{
    text-align: center;
}

.container{
    padding-top: 70px;
}

.ordersContainer{
    display: flex;
    flex-direction: column;
}

.orderContainer{
    background-color: white;
}

wee{
    align-self: center;
}

h1{
    text-align: center;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}


div{
    
}





