/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    font-family: 'MyFont';
}
body { 
    margin: 0; 
    background: rgb(124, 139, 158);
}

@font-face {
    font-family: 'MyFont';
    src: url('assets/fonts/coolvetica.OTF');
}


