/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    
}
body { 
    margin: 0; 
    font-family: "Lobster", "Helvetica Neue", sans-serif; 
    background: rgb(182,136,104);
background: linear-gradient(90deg, rgba(182,136,104,1) 0%, rgba(177,135,105,1) 49%, rgba(186,135,100,1) 100%);
}
