<div class="body">
  <div class="container">
    <form [formGroup]="myForm" class="formContainer">
      <input placeholder="First" formControlName="firstname" #firstname>
      <input placeholder="Last" formControlName="lastname" #lastname>
      <input placeholder="Email" formControlName="email" #email>
      <input placeholder="Password"formControlName="password" #password>
      <button type="submit" (click)="submit(email.value, firstname.value, lastname.value, password.value)">Go</button>
    </form>
  </div>
</div>

