
<!-- <form (submit)="onSubmit()">
    <input type="file" (change)="onFileSelected($event)">
    <input type="text" [(ngModel)]="title1" name="title1">
    <input type="text" [(ngModel)]="description1" name="description1">
    <button type="submit">Upload</button>
</form> -->
<div class="adminBody">
    <div class="container">
        <div class="row gx-4 gy-4">
            
            <div routerLink="whatsNew" class="col-sm-6 col-lg-4">
                <div class="adminOptions">Whats New</div>
            </div>
            <div routerLink="orders" class="col-sm-6 col-lg-4">
                <div class="adminOptions">Orders</div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="adminOptions">Revenue</div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="adminOptions">Recipes</div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="adminOptions">TBD</div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="adminOptions">TBD</div>
            </div>
        </div>
    
    </div>
</div>






