.mealkitBody{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: beige;
}

h2{
    text-align: center;
}

h5{
    text-align: center;
}

.addMealContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:700px;
}

.addFieldContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.recipeDataContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

}

.recipeTagsSkeletonRow{
   display: flex;
   justify-content: space-evenly;
   width: 100%;
}

.recipeTemplateContainer{
    background-color: beige;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipesContainer{
   height:200px;
   width: 100%;
   overflow-y: auto;
   overflow-x: hidden;
}

.recipeContainer{
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.editRecipeContainer{
   display: flex;
   flex-direction: column;
   width: 80%;
}

.finalIngredientsEditContainer{
   display: flex;
}

.finalStepsEditContainer{
   display: flex;
}

.finalIngredients{
   width: 300px;
}

.finalSteps{
   width: 300px;
}

.nameEditContainer{
   display: flex;
   align-items: center;
   justify-content: flex-start;
   
}

.recipeName{
   text-align: center;
   position: absolute;
   color: white;
   bottom: 0px;
   width: 150px;
   padding: 10px;
   line-height: 1;
   background-color: rgb(42, 36, 106,.3);
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   transition:  background .4s ease-in-out;
}

.recipeFeature{
   text-align: center;
   position: absolute;
   color: white;
   width: 150px;
   top: 0px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   background-color: rgb(42, 36, 106);
}

img{
   border-radius: 20px;
}


 ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    margin-bottom: -1.25em;
 }

 .ingredientsForm{
    display: flex;
    justify-content: space-between;
 }

 .recipeSkeletonContainer{
    display: flex;
    flex-direction: column;
    width: 80%;
 }

 .recipeSkeletonButtons{
    opacity: .6;
    height: 35px;
 }


 .finishEditButton{
    height: 20px;
    font-size: 10px;
 }

 .editRecipeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .editStepContainer{
    display: flex;
 }

 .editIngredientsContainer{
    display: flex;
    flex-direction: column;
 }

 .editStepsContainer{
   display: flex;
   flex-direction: column;
}

 .tagsContainer{
   display: flex;
   flex-direction: column;
    align-items: center;
 }


 @media (max-width:800px){
    .ingredientsForm{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
     }

     .addMealContainer{
        width:70%;
    }
 }


