<div class="body">
    <div class="nav-container">
        <div>Welcome, {{userData?.firstname}}</div>
        <div class="nav">
            <p (click)="showUpdate()">Update profile</p>
            <button (click)="signOut()" mat-raised-button color="primary">Sign out</button>
        </div>
        
    </div>
    <div class="profileData">
        <div class="profileContainer"> 
            <div>First name: {{userData?.firstname}}</div>
            <div>Last name: {{userData?.lastname}}</div>
            <div>Email: {{userData?.email}}</div>
        </div>
        <div *ngIf="_showUpdate">
            <app-profile-update></app-profile-update>
        </div>
        
    </div>
    
</div>

<router-outlet></router-outlet>


