<div class="body">
    <div class="nav-container">
        <div>Welcome, {{userData?.firstname}}</div>
        <div class="nav">
            <p (click)="showUpdate()">Update profile</p>
            <p (click)="showLists()">Previous lists</p>
            
        </div>
        
    </div>
    <div class="profileData">
        <ng-container class="profileContainer"> 
            <div style="color:blue;">First name: {{userData?.firstname}}</div>
            <div style="color:blue;">Last name: {{userData?.lastname}}</div>
            <div style="color:blue;">Email: {{userData?.email}}</div>
        </ng-container>
        <ng-container *ngIf="_showUpdate">
            <app-profile-update></app-profile-update>
        </ng-container>
        <ng-container *ngIf="_showLists">
            <app-profile-lists [dates]="getDates()" [lists]="clientList"></app-profile-lists>
        </ng-container>
    </div>
    
</div>

<router-outlet></router-outlet>


