<div class="profileBody">
    <div class="nav-container">
        <div>Welcome, {{userData?.firstname}}</div>
        <div class="nav">
            <!-- <p (click)="showUpdate()">Update profile</p> -->
            <button color="success" (click)="signOut()" mat-raised-button>Sign out</button>
        </div>
    </div>
    <div class="layoutContainer">
        <h1 class="mt-2">Profile</h1>
        <div class="profileData">
            <div class="profileContainer"> 
                <div class="userFieldContainer">
                    <div class="userField">First name</div> 
                    <div class="userData">{{userData?.firstname}}</div>
                    <svg *ngIf="!_showUpdate" (click)="updateUserDataUI('first name',userData.firstname)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil editButton" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                </div>
                <div class="userFieldContainer">
                    <div class="userField">Last name</div> 
                    <div class="userData">{{userData?.lastname}}</div>
                    <svg *ngIf="!_showUpdate" (click)="updateUserDataUI('last name',userData.lastname)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil editButton" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                </div>
                <div class="userFieldContainer">
                    <div class="userField">Email</div> 
                    <div class="userData">{{userData?.email}}</div>
                    <svg *ngIf="!_showUpdate" (click)="updateUserDataUI('email',userData.email)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil editButton" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                </div>
                <div class="userFieldContainer">
                    <div class="userField">Address</div> 
                    <div class="userData">{{userData?.address}}</div>
                    <svg *ngIf="!_showUpdate" (click)="updateUserDataUI('address',userData.address)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil editButton" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                </div>
                <div class="userFieldContainer">
                    <div class="userField">Phone</div> 
                    <div class="userData">{{userData?.phone | phoneNumber}}</div>
                    <svg *ngIf="!_showUpdate" (click)="updateUserDataUI('phone',userData.phone)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil editButton" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                </div>
            </div>
           
                
        </div>
        <ng-container *ngIf="_showUpdate">
            <div class="updateContainer">
                <h1 class="mt-2">Update {{currentUpdateTitle}}</h1>
                <ng-container *ngIf="!phoneFieldShown else phoneField">
                    <mat-form-field >
                        <input matInput #inputData [value]=currentData>
                    </mat-form-field>
                    <button mat-raised-button (click)="updateUserData(inputData.value)">Submit</button>
                </ng-container>
                
                
                <ng-template #phoneField>
                    <div class="d-flex flex-row justify-content-center mb-3">
                        <div>(</div>
                        <input class="phoneInput" #areaInput [value]=areaCode>
                        <div>)-</div>
                        <input class="phoneInput" #middleInput [value]=middleOfNumber>
                        <div>-</div>
                        <input class="phoneInput" #endInput [value]=endOfNumber>
                    </div>
                    <button mat-raised-button matRipple style="overflow: hidden;" [matRippleColor]="rippleColor" (click)="updateUserData(areaInput.value+middleInput.value+endInput.value)">Submit</button>
                </ng-template>
                
                
            </div>
            
        </ng-container>
    </div>
</div>
    
    


<router-outlet></router-outlet>


