<div class="body">
  <p *ngIf="showBadCred">Bad credentials</p>
  <div class="example-container">
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input matInput [formControl]="password" required>
        </mat-form-field>
      </div>
      <button mat-raised-button (click)="setEnvironment(email.value,password.value)">Go</button>
</div>

