<div class="body">
    <div class="bioContainer mt-5">
        <img src="../assets/img/jay.png">
        <div class="textContainer">
            <h1 class="mt-3">Jay Jaskolski</h1>
            <div class="bio mt-3">
                <p>I was born and raised in Milwaukee Wisconsin. I've lived in many cities including Minneapolis, Detroit, Houston, Miami and even London England. I graduated from Lincoln in 1985 and then spent five years in the US Navy. I also attended college at Florida Atlantic University. I spent my late 20s as a morning show disc jockey here in Tallahassee at KIX 100FM where I went by Allan Chase, the mental case. No judgment please!</p>
                <p>I did stand-up comedy for a while in South Florida and had every sales job you can imagine from real estate to advertising over the next 20 years.</p>
                <p>I never truly felt content until I started my own personal shopping business. I get to use all of the skills I acquired over the years from comedy, to marketing, to sales and also get to bring my big personality along with it. Creating this personal shopping business has made me the happiest and most fulfilled I've ever been!</p>
            </div>
        </div>
    </div>
    <div class="bioContainer mt-5">
        <img src="../assets/img/joshTransparent.png">
        <div class="textContainer">
            <h1 class="mt-3">Josh Davis</h1>
            <div class="bio mt-3">
                <p>I grew up in the small town of Lake City. I attended Full Sail University for film and graphic design in Winter Park FL. I eventually acquired my real estate license and while I still practice and love real estate, I always wanted to be part of a business that sought to build an amazing reputation, value to its customers, and outstanding customer service.</p>
                <p>From early on I've always loved baking. It's allows me to use my artistic and creative abilities to bring joy and excitement into peoples lives.</p>
                <p>When I first met Jay I discovered he had created a personal shopping business. I fell in love with the idea of helping him grow the business into something even larger. My mind exploded with ideas and I knew this is where my past training in marketing and customer service had enabled me to become an asset to Shopping Tally. I look forward to serving and building relationships within this beautiful community.</p>
            </div>
    </div>

    
</div>


