.body{
    width: 100%;
    display: flex;
    flex-direction: column;
}

::ng-deep body{
    background-color:#33FFFF;
}

.bioContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.textContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio{
    width: 70%;
}




@media (max-width: 1000px){
    img{
        width: 200px;
        height: auto;
        border-radius: 20px;
    }

    .bioContainer{
        display: flex;
        flex-direction: column;
    }
}