@import 'material-icons/iconfont/material-icons.css';

.table{
    height: 400px;
    overflow-y: scroll;
}

mat-cell.mat-column-quantity {
    display:flex;
    justify-content:center;
}

mat-header-cell.mat-column-name {
    display:flex;
    justify-content:center;
}

mat-cell, mat-header-cell, mat-footer-cell {
  justify-content: center !important;
}

.test{
 
    width: 100%;
    background-color: black;
    z-index: 1000;
    height: 50px;
    
}


::ngdeep .mat-horizontal-content-container {
  padding: 0 !important;
}

mat-header-cell.mat-column-quantity {
  display:flex;
  justify-content:center;
}

mat-header-cell.mat-column-image {
  display:flex;
  justify-content:center;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0 !important;
}

mat-cell.mat-column-delete {
    display:flex;
    justify-content:center;
}



mat-header-cell.mat-column-delete {
    display:flex;
    justify-content:center;
}

::ng-deep .mat-horizontal-content-container {
  padding: 0 !important
}

mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
  padding: 0 !important;
}

.mdc-data-table__cell {
  text-align: center !important;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #2A246A; 
 }

::ng-deep .mat-step-header:focus, ::ng-deep .mat-step-header:hover{
    background-color: white !important;
}

::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}


.body{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    /* background-color: black; */
  }

  .stepperBtnsContainer{
    display: flex;
    align-content: center;
    height: 40px;
    font-size: 20px;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }

  .appointmentContainer{
    display: flex;
    flex-direction: column;
  }



.timeSlotContainer{
    background-color: white;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px;
  }

  .hours:hover{
    cursor: pointer;
    opacity: .5;
  }


  .hours{
    text-align: center;
    background-color: #33ffff;
    border-radius: 10px;
    padding: 5px;
    width: 50px;
    pointer-events: none;
  }

  

  .noItemsText{
    position: absolute;
    left: 0; 
    right: 0;
    top:300px;
    width: 100%;
    text-align: center;
  }

  .confettiContainer{
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
  }

  .tableContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow: auto;
    font-size: 15px;
  }

  .rowContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .quantityContainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  }

  .upArrow{
    cursor: pointer;
    padding: 0;
    margin-bottom: -7px;
  }

  .downArrow{
    cursor: pointer;
    padding:0;
    margin-top: -11px;
    align-self: flex-start;
  }

  .delete{
    cursor: pointer;
  }

  .confettiTextContainer{
    position: absolute;
    top: -300px;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  
  .confettiTitle{
    font-size: 60px;
  }

  