

<mat-stepper class="stepperContainer">
  <mat-step label="Create list">
    <div class="body">
      <div class="list-container">
        <div class="data-container mr-3">
          <div class="input-container">
            <mat-form-field appearance="fill" >
              <mat-label>Enter item</mat-label>
              <input matInput #input placeholder="Ex. Nougat" [(ngModel)]="customItem" (keyup)="getItems($event)">
            </mat-form-field>
          </div>
    
          <div class="api-container">
            <div class="customItemContainer" *ngIf="input.value != ''">
              <svg xmlns="http://www.w3.org/2000/svg" width="35px" height="35px" fill="white" class="bi bi-basket" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
              </svg>
              <button  mat-raised-button (click)="setItemName(customItem)" class="mt-3 customItem"><b>{{customItem}}</b></button>
            </div>
            
            <div *ngFor="let value of brandedArray" class="item-container">
              <img src={{value.photo.thumb}} height="40px" width="40px">
              <button class="itemBtns" mat-raised-button (click)="setItemName(value.brand_name_item_name)"><b>{{value.brand_name_item_name}}</b></button>
            </div>
          </div>
    
          <div class="finalizedItemContainer mt-5 mb-3">
            <div>
              <b>Selected item:</b> <i>{{currentItem}}</i>
            </div>
            <mat-form-field appearance="fill">
              <mat-label>Quantity</mat-label>
              <mat-select>
                <mat-option [value]=num *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]; let i = index" (click)="setQuantity(num)">
                  {{num}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          
    
          
    
          <button mat-raised-button (click)="addToList()">Add</button>
          
        </div>
        
        <div class="tableContainer">
          <mat-table [dataSource]="list" class="table">
            <!-- User name Definition -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>
          
            <!-- Age Definition -->
            <ng-container matColumnDef="quantity">
              <mat-header-cell *matHeaderCellDef> Quantity</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.quantity}} </mat-cell>
            </ng-container>
      
            <ng-container matColumnDef="delete">
              <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
              <mat-cell *matCellDef="let row">  
                <button mat-raised-button (click)="removeItem(row.name)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                  </svg>
                </button> 
              </mat-cell>
            </ng-container>
          
            
          
            <!-- Header and Row Declarations -->
            <mat-header-row *matHeaderRowDef="['name','quantity','delete']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['name', 'quantity','delete']"></mat-row>
          </mat-table>
        </div>
        
        
        
      </div>
  
    </div>
    <div class="stepperBtnsContainer">
      <button mat-button matStepperNext (click)="addList(); getAllDates()">Next
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
        </svg>
      </button>
    </div>
    
  </mat-step>
  <mat-step label="Choose appointment">
    <div class="body">
      <app-datepicker (newItemEvent)="getDate($event)"></app-datepicker>
      <div class="timeSlotContainer mt-3" *ngIf="isDatePicked()">
        <div class="mt-2 mb-3">Available time slots for: {{currentDate | date}}</div>
        <div class="container">
          <div class="row gx-5 gy-2">
            <div  class="col col-sm-2 col-md-2 col-lg-2" *ngFor="let i of [10,11]" >
              <div matRipple class="hours" (click)="setHour(i)">{{i}}am</div>
            </div>
            <div class="col col-sm-2 col-md-2 col-lg-2" *ngFor="let i of [12,1,2,3,4,5,6,7,8,9]">
              <div matRipple class="hours" (click)="setHour(i)">{{i}}pm</div>
            </div>
            
          </div>
        </div>
      </div>
    
      <div class="appointmentContainer" *ngIf="dateSelected">
        <div>Your selected appointment is: {{currentDate | date}} at {{selectedHour}}</div>
      </div>
      
    </div>
    <div class="stepperBtnsContainer">
      <button mat-button matStepperPrevious>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg>
        Back
      </button>
      <mat-divider [vertical]="true"></mat-divider>
      <button mat-button matStepperNext (click)="addDate()">Next
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
        </svg>
      </button>
    </div>
    
  </mat-step>
  <mat-step label="Finalize">
    <div class="body">
      <div class="finalListContainer">
        <div *ngFor="let item of list">
          {{item.name}} {{item.quantity}}
        </div>
      </div>
      <div class="finalAppointmentContainer">
        {{currentDate | date}} at {{selectedHour}}
      </div>
    </div>
    <div class="stepperBtnsContainer">
      <button mat-button matStepperPrevious>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg>
        Back
      </button>
      <mat-divider [vertical]="true"></mat-divider>
      <button mat-button matStepperNext (click)="sendList()">Finalize
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
        </svg>
      </button>
    </div>
    
  </mat-step>

</mat-stepper>





