.mat-mdc-table {
  width: 100%;
  
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  border-radius: 10px;
  margin-right: 20px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(124, 139, 158);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.mat-column-name{
  width:20%;
}

.mat-column-quantity{
  width:20%
}

.mat-column-delete{
  width: 20%;
}

.tableContainer{
  background-color: rgb(7, 34, 62);
  width: 80%;
  height: 570px;
  overflow-y: auto;
  border-radius: 10px;
}



.input-container{
  display: flex;
  width:70%;
  /*background-color: blue;*/ 
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100px;
}

  .list-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    height: 100%;
  }

.selectedItemContainer{
  display: flex;
}

  .body{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    /* background-color: black; */
  }

  .mdc-button{
    margin-left: 5px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .mat-mdc-form-field-type-mat-select{
    margin-top: 10px;
  }
  
  .data-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 100%;
    background-color: rgb(7, 34, 62);
    border-radius: 10px;
  }

  

  .api-container{
    position: relative;
    width:100%;
    display: flex;
    flex-direction: column;
    
    
  }

  .branded{
    height: 300px;

  }

  .custom{
    height: 150px;
    overflow: auto;
  }

  .common-container{
    overflow: auto;
  }

  h3{
    text-align: center;
    color: white;
  }

  .item-container{
    display: flex;
    width: fit-content;
  }

  .customItem{
    width: fit-content;
  }

  select.form-select {
    margin: 0.5rem 0.5rem 0 0;
    width: auto;
  }


  .finalizedItemContainer{
    background-color: white;
    padding:20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width:50%;
  }

  @media (max-width:600px){
    .data-container{
      width: 100%;
    }
  }








