
<div class="orderContainer pt-5" cdkScrollable>
<div class="listsContainer" cdkScrollable>
  <div class="example-container" cdkScrollable>
    <h2>To do</h2>
    
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[
      meatList,
      bakeryList,
      dairyList,
      breakfastList,
      internationalList,
      bakingList,
      grainsList,
      snacksList,
      petList,
      householdList,
      beveragesList,
      breadList,
      healthList,
      breadList,
      frozenList,
      meatList,
      produceList,
      deliList
      ]"
      class="example-list test"
      (cdkDropListDropped)="drop($event,'todo')">
        <div class="example-box" *ngFor="let item of todo" cdkDrag (cdkDragMoved)="draggableScroll($event)">
          <div style="width: 100px;">{{item.name}}</div>
          <div>{{item.quantity}}</div>
          <img *ngIf="item.image != 'null' && item.image != '' else imageTemplate" (click)="expandImage()" [src]=item.image height="auto" width="40px">
          <ng-template #imageTemplate>
            <img src="../../../assets/img/bag.png" height="auto" width="50px">
          </ng-template>
          <button mat-raised-button (click)="completeItem('todo',item.name)">Complete</button>
        </div>
    </div>
  </div>
    
    <div class="example-container">
      <h2>Health</h2>
    
      <div
        cdkDropList
        #healthList="cdkDropList"
        [cdkDropListData]="health"
        [cdkDropListConnectedTo]="[
          meatList,
          bakeryList,
          dairyList,
          breakfastList,
          internationalList,
          bakingList,
          grainsList,
          snacksList,
          petList,
          householdList,
          beveragesList,
          breadList,
          healthList,
          breadList,
          frozenList,
          meatList,
          produceList,
          deliList
          ]"
        class="example-list"
        (cdkDropListDropped)="drop($event,'health')">
        <div class="example-box" *ngFor="let item of health" cdkDrag (cdkDragMoved)="draggableScroll($event)">
          <div style="width: 100px;">{{item.name}}</div>
          <div>{{item.quantity}}</div>
          <img *ngIf="item.image != 'null' && item.image != '' else imageTemplate" (click)="expandImage()" [src]=item.image height="auto" width="40px">
          <ng-template #imageTemplate>
            <img src="../../../assets/img/bag.png" height="auto" width="50px">
          </ng-template>
          <button mat-raised-button (click)="completeItem('health',item.name)">Complete</button>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Dairy</h2>
    
      <div
        cdkDropList
        #dairyList="cdkDropList"
        [cdkDropListData]="dairy"
        [cdkDropListConnectedTo]="[
        meatList,
        bakeryList,
        dairyList,
        breakfastList,
        internationalList,
        bakingList,
        grainsList,
        snacksList,
        petList,
        householdList,
        beveragesList,
        breadList,
        healthList,
        breadList,
        frozenList,
        meatList,
        produceList,
        deliList
        ]"
        class="example-list"
        (cdkDropListDropped)="drop($event,'dairy')">
        <div class="example-box" *ngFor="let item of dairy" cdkDrag (cdkDragMoved)="draggableScroll($event)">
          <div style="width: 100px;">{{item.name}}</div>
          <div>{{item.quantity}}</div>
          <img *ngIf="item.image != 'null' && item.image != '' else imageTemplate" (click)="expandImage()" [src]=item.image height="auto" width="40px">
          <ng-template #imageTemplate>
            <img src="../../../assets/img/bag.png" height="auto" width="50px">
          </ng-template>
          <button mat-raised-button (click)="completeItem('dairy',item.name)">Complete</button>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Breakfast</h2>
    
      <div
        cdkDropList
        #breakfastList="cdkDropList"
        [cdkDropListData]="breakfast"
        [cdkDropListConnectedTo]="[
        meatList,
        bakeryList,
        dairyList,
        breakfastList,
        internationalList,
        bakingList,
        grainsList,
        snacksList,
        petList,
        householdList,
        beveragesList,
        breadList,
        healthList,
        breadList,
        frozenList,
        meatList,
        produceList,
        deliList
        ]"
        class="example-list"
        (cdkDropListDropped)="drop($event,'breakfast')">
        <div class="example-box" *ngFor="let item of breakfast" cdkDrag (cdkDragMoved)="draggableScroll($event)">
          <div style="width: 100px;">{{item.name}}</div>
          <div>{{item.quantity}}</div>
          <img *ngIf="item.image != 'null' && item.image != '' else imageTemplate" (click)="expandImage()" [src]=item.image height="auto" width="40px">
          <ng-template #imageTemplate>
            <img src="../../../assets/img/bag.png" height="auto" width="50px">
          </ng-template>
          <button mat-raised-button (click)="completeItem('breakfast',item.name)">Complete</button>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>International</h2>
    
      <div
        cdkDropList
        #internationalList="cdkDropList"
        [cdkDropListData]="international"
        [cdkDropListConnectedTo]="[
        meatList,
        bakeryList,
        dairyList,
        breakfastList,
        internationalList,
        bakingList,
        grainsList,
        snacksList,
        petList,
        householdList,
        beveragesList,
        breadList,
        healthList,
        breadList,
        frozenList,
        meatList,
        produceList,
        deliList
        ]"
        class="example-list"
        (cdkDropListDropped)="drop($event,'international')">
        <div class="example-box" *ngFor="let item of international" cdkDrag (cdkDragMoved)="draggableScroll($event)">
          <div style="width: 100px;">{{item.name}}</div>
          <div>{{item.quantity}}</div>
          <img *ngIf="item.image != 'null' && item.image != '' else imageTemplate" (click)="expandImage()" [src]=item.image height="auto" width="40px">
          <ng-template #imageTemplate>
            <img src="../../../assets/img/bag.png" height="auto" width="50px">
          </ng-template>
          <button mat-raised-button (click)="completeItem('international',item.name)">Complete</button>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Baking</h2>
    
      <div
        cdkDropList
        #bakingList="cdkDropList"
        [cdkDropListData]="baking"
        [cdkDropListConnectedTo]="[
        meatList,
        bakeryList,
        dairyList,
        breakfastList,
        internationalList,
        bakingList,
        grainsList,
        snacksList,
        petList,
        householdList,
        beveragesList,
        breadList,
        healthList,
        breadList,
        frozenList,
        meatList,
        produceList,
        deliList
        ]"
        class="example-list"
        (cdkDropListDropped)="drop($event,'baking')">
        <div class="example-box" *ngFor="let item of baking" cdkDrag (cdkDragMoved)="draggableScroll($event)">
          <div style="width: 100px;">{{item.name}}</div>
          <div>{{item.quantity}}</div>
          <img *ngIf="item.image != 'null' && item.image != '' else imageTemplate" (click)="expandImage()" [src]=item.image height="auto" width="40px">
          <ng-template #imageTemplate>
            <img src="../../../assets/img/bag.png" height="auto" width="50px">
          </ng-template>
          <button mat-raised-button (click)="completeItem('baking',item.name)">Complete</button>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Pasta / Grains</h2>
    
      <div
        cdkDropList
        #grainsList="cdkDropList"
        [cdkDropListData]="grains"
        [cdkDropListConnectedTo]="[
        meatList,
        bakeryList,
        dairyList,
        breakfastList,
        internationalList,
        bakingList,
        grainsList,
        snacksList,
        petList,
        householdList,
        beveragesList,
        breadList,
        healthList,
        breadList,
        frozenList,
        meatList,
        produceList,
        deliList
        ]"
        class="example-list"
        (cdkDropListDropped)="drop($event,'grains')">
        <div class="example-box" *ngFor="let item of grains" cdkDrag (cdkDragMoved)="draggableScroll($event)">
          <div style="width: 100px;">{{item.name}}</div>
          <div>{{item.quantity}}</div>
          <img *ngIf="item.image != 'null' && item.image != '' else imageTemplate" (click)="expandImage()" [src]=item.image height="auto" width="40px">
          <ng-template #imageTemplate>
            <img src="../../../assets/img/bag.png" height="auto" width="50px">
          </ng-template>
          <button mat-raised-button (click)="completeItem('grains',item.name)">Complete</button>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Snacks</h2>
    
      <div
        cdkDropList
        #snacksList="cdkDropList"
        [cdkDropListData]="snacks"
        [cdkDropListConnectedTo]="[
        meatList,
        bakeryList,
        dairyList,
        breakfastList,
        internationalList,
        bakingList,
        grainsList,
        snacksList,
        petList,
        householdList,
        beveragesList,
        breadList,
        healthList,
        breadList,
        frozenList,
        meatList,
        produceList,
        deliList
        ]"
        class="example-list"
        (cdkDropListDropped)="drop($event,'snacks')">
        <div class="example-box" *ngFor="let item of snacks" cdkDrag (cdkDragMoved)="draggableScroll($event)">
          <div style="width: 100px;">{{item.name}}</div>
          <div>{{item.quantity}}</div>
          <img *ngIf="item.image != 'null' && item.image != '' else imageTemplate" (click)="expandImage()" [src]=item.image height="auto" width="40px">
          <ng-template #imageTemplate>
            <img src="../../../assets/img/bag.png" height="auto" width="50px">
          </ng-template>
          <button mat-raised-button (click)="completeItem('snacks',item.name)">Complete</button>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Pets</h2>
    
      <div
        cdkDropList
        #petList="cdkDropList"
        [cdkDropListData]="pet"
        [cdkDropListConnectedTo]="[
        meatList,
        bakeryList,
        dairyList,
        breakfastList,
        internationalList,
        bakingList,
        grainsList,
        snacksList,
        petList,
        householdList,
        beveragesList,
        breadList,
        healthList,
        breadList,
        frozenList,
        meatList,
        produceList,
        deliList
        ]"
        class="example-list"
        (cdkDropListDropped)="drop($event,'pet')">
        <div class="example-box" *ngFor="let item of pet" cdkDrag (cdkDragMoved)="draggableScroll($event)">
          <div style="width: 100px;">{{item.name}}</div>
          <div>{{item.quantity}}</div>
          <img *ngIf="item.image != 'null' && item.image != '' else imageTemplate" (click)="expandImage()" [src]=item.image height="auto" width="40px">
          <ng-template #imageTemplate>
            <img src="../../../assets/img/bag.png" height="auto" width="50px">
          </ng-template>
          <button mat-raised-button (click)="completeItem('pet',item.name)">Complete</button>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Household</h2>
    
      <div
        cdkDropList
        #householdList="cdkDropList"
        [cdkDropListData]="household"
        [cdkDropListConnectedTo]="[
        meatList,
        bakeryList,
        dairyList,
        breakfastList,
        internationalList,
        bakingList,
        grainsList,
        snacksList,
        petList,
        householdList,
        beveragesList,
        breadList,
        healthList,
        breadList,
        frozenList,
        meatList,
        produceList,
        deliList
        ]"
        class="example-list"
        (cdkDropListDropped)="drop($event,'household')">
        <div class="example-box" *ngFor="let item of household" cdkDrag (cdkDragMoved)="draggableScroll($event)">
          <div style="width: 100px;">{{item.name}}</div>
          <div>{{item.quantity}}</div>
          <img *ngIf="item.image != 'null' && item.image != '' else imageTemplate" (click)="expandImage()" [src]=item.image height="auto" width="40px">
          <ng-template #imageTemplate>
            <img src="../../../assets/img/bag.png" height="auto" width="50px">
          </ng-template>
          <button mat-raised-button (click)="completeItem('household',item.name)">Complete</button>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Beverages</h2>
    
      <div
        cdkDropList
        #beveragesList="cdkDropList"
        [cdkDropListData]="beverages"
        [cdkDropListConnectedTo]="[
        meatList,
        bakeryList,
        dairyList,
        breakfastList,
        internationalList,
        bakingList,
        grainsList,
        snacksList,
        petList,
        householdList,
        beveragesList,
        breadList,
        healthList,
        breadList,
        frozenList,
        meatList,
        produceList,
        deliList
        ]"
        class="example-list"
        (cdkDropListDropped)="drop($event,'beverages')">
        <div class="example-box" *ngFor="let item of beverages" cdkDrag (cdkDragMoved)="draggableScroll($event)">
          <div style="width: 100px;">{{item.name}}</div>
          <div>{{item.quantity}}</div>
          <img *ngIf="item.image != 'null' && item.image != '' else imageTemplate" (click)="expandImage()" [src]=item.image height="auto" width="40px">
          <ng-template #imageTemplate>
            <img src="../../../assets/img/bag.png" height="auto" width="50px">
          </ng-template>
          <button mat-raised-button (click)="completeItem('beverages',item.name)">Complete</button>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Bread</h2>
    
      <div
        cdkDropList
        #breadList="cdkDropList"
        [cdkDropListData]="bread"
        [cdkDropListConnectedTo]="[
        meatList,
        bakeryList,
        dairyList,
        breakfastList,
        internationalList,
        bakingList,
        grainsList,
        snacksList,
        petList,
        householdList,
        beveragesList,
        breadList,
        healthList,
        breadList,
        frozenList,
        meatList,
        produceList,
        deliList
        ]"
        class="example-list"
        (cdkDropListDropped)="drop($event,'bread')">
        <div class="example-box" *ngFor="let item of bread" cdkDrag (cdkDragMoved)="draggableScroll($event)">
          <div style="width: 100px;">{{item.name}}</div>
          <div>{{item.quantity}}</div>
          <img *ngIf="item.image != 'null' && item.image != '' else imageTemplate" (click)="expandImage()" [src]=item.image height="auto" width="40px">
          <ng-template #imageTemplate>
            <img src="../../../assets/img/bag.png" height="auto" width="50px">
          </ng-template>
          <button mat-raised-button (click)="completeItem('bread',item.name)">Complete</button>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Frozen</h2>
    
      <div
        cdkDropList
        #frozenList="cdkDropList"
        [cdkDropListData]="frozen"
        [cdkDropListConnectedTo]="[
        meatList,
        bakeryList,
        dairyList,
        breakfastList,
        internationalList,
        bakingList,
        grainsList,
        snacksList,
        petList,
        householdList,
        beveragesList,
        breadList,
        healthList,
        breadList,
        frozenList,
        meatList,
        produceList,
        deliList
        ]"
        class="example-list"
        (cdkDropListDropped)="drop($event,'frozen')">
        <div class="example-box" *ngFor="let item of frozen" cdkDrag (cdkDragMoved)="draggableScroll($event)">
          <div style="width: 100px;">{{item.name}}</div>
          <div>{{item.quantity}}</div>
          <img *ngIf="item.image != 'null' && item.image != '' else imageTemplate" (click)="expandImage()" [src]=item.image height="auto" width="40px">
          <ng-template #imageTemplate>
            <img src="../../../assets/img/bag.png" height="auto" width="50px">
          </ng-template>
          <button mat-raised-button (click)="completeItem('frozen',item.name)">Complete</button>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Meat</h2>
    
      <div
        cdkDropList
        #meatList="cdkDropList"
        [cdkDropListData]="meat"
        [cdkDropListConnectedTo]="[
        meatList,
        bakeryList,
        dairyList,
        breakfastList,
        internationalList,
        bakingList,
        grainsList,
        snacksList,
        petList,
        householdList,
        beveragesList,
        breadList,
        healthList,
        breadList,
        frozenList,
        meatList,
        produceList,
        deliList
        ]"
        class="example-list"
        (cdkDropListDropped)="drop($event,'meat')">
        <div class="example-box" *ngFor="let item of meat" cdkDrag (cdkDragMoved)="draggableScroll($event)">
          <div style="width: 100px;">{{item.name}}</div>
          <div>{{item.quantity}}</div>
          <img *ngIf="item.image != 'null' && item.image != '' else imageTemplate" (click)="expandImage()" [src]=item.image height="auto" width="40px">
          <ng-template #imageTemplate>
            <img src="../../../assets/img/bag.png" height="auto" width="50px">
          </ng-template>
          <button mat-raised-button (click)="completeItem('meat',item.name)">Complete</button>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Produce</h2>
    
      <div
        cdkDropList
        #produceList="cdkDropList"
        [cdkDropListData]="produce"
        [cdkDropListConnectedTo]="[
        meatList,
        bakeryList,
        dairyList,
        breakfastList,
        internationalList,
        bakingList,
        grainsList,
        snacksList,
        petList,
        householdList,
        beveragesList,
        breadList,
        healthList,
        breadList,
        frozenList,
        meatList,
        produceList,
        deliList
        ]"
        class="example-list"
        (cdkDropListDropped)="drop($event,'produce')">
        <div class="example-box" *ngFor="let item of produce" cdkDrag (cdkDragMoved)="draggableScroll($event)">
          <div style="width: 100px;">{{item.name}}</div>
          <div>{{item.quantity}}</div>
          <img *ngIf="item.image != 'null' && item.image != '' else imageTemplate" (click)="expandImage()" [src]=item.image height="auto" width="40px">
          <ng-template #imageTemplate>
            <img src="../../../assets/img/bag.png" height="auto" width="50px">
          </ng-template>
          <button mat-raised-button (click)="completeItem('produce',item.name)">Complete</button>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Bakery</h2>
    
      <div
        cdkDropList
        #bakeryList="cdkDropList"
        [cdkDropListData]="bakery"
        [cdkDropListConnectedTo]="[
        meatList,
        bakeryList,
        dairyList,
        breakfastList,
        internationalList,
        bakingList,
        grainsList,
        snacksList,
        petList,
        householdList,
        beveragesList,
        breadList,
        healthList,
        breadList,
        frozenList,
        meatList,
        produceList,
        deliList
        ]"
        class="example-list"
        (cdkDropListDropped)="drop($event,'bakery')">
        <div class="example-box" *ngFor="let item of bakery" cdkDrag (cdkDragMoved)="draggableScroll($event)">
          <div style="width: 100px;">{{item.name}}</div>
          <div>{{item.quantity}}</div>
          <img *ngIf="item.image != 'null' && item.image != '' else imageTemplate" (click)="expandImage()" [src]=item.image height="auto" width="40px">
          <ng-template #imageTemplate>
            <img src="../../../assets/img/bag.png" height="auto" width="50px">
          </ng-template>
          <button mat-raised-button (click)="completeItem('bakery',item.name)">Complete</button>
        </div>
      </div>
    </div>
  
    <div class="example-container">
      <h2>Deli</h2>
    
      <div
        cdkDropList
        #deliList="cdkDropList"
        [cdkDropListData]="deli"
        [cdkDropListConnectedTo]="[
        meatList,
        bakeryList,
        dairyList,
        breakfastList,
        internationalList,
        bakingList,
        grainsList,
        snacksList,
        petList,
        householdList,
        beveragesList,
        breadList,
        healthList,
        breadList,
        frozenList,
        meatList,
        produceList,
        deliList
        ]"
        class="example-list"
        (cdkDropListDropped)="drop($event,'deli')">
        <div class="example-box" *ngFor="let item of deli" cdkDrag (cdkDragMoved)="draggableScroll($event)">
          <div style="width: 100px;">{{item.name}}</div>
          <div>{{item.quantity}}</div>
          <img *ngIf="item.image != 'null' && item.image != '' else imageTemplate" (click)="expandImage()" [src]=item.image height="auto" width="40px">
          <ng-template #imageTemplate>
            <img src="../../../assets/img/bag.png" height="auto" width="50px">
          </ng-template>
          <button mat-raised-button (click)="completeItem('deli',item.name)">Complete</button>
        </div>
      </div>
    </div>


    <div class="example-container">
      <h2>Completed</h2>
    
      <div
        cdkDropList
        #completedList="cdkDropList"
        [cdkDropListData]="completed"
        [cdkDropListConnectedTo]="[]"
        class="example-list"
        (cdkDropListDropped)="drop($event,'completed')">
        <div class="example-box" *ngFor="let item of completed" cdkDrag>
          <div style="width: 100px;">{{item.name}}</div>
          <div>{{item.quantity}}</div>
          <img *ngIf="item.image != 'null' && item.image != '' else imageTemplate" (click)="expandImage()" [src]=item.image height="auto" width="40px">
          <ng-template #imageTemplate>
            <img src="../../../assets/img/bag.png" height="auto" width="50px">
          </ng-template>
        </div>
      </div>
    </div>
</div>
<h2 class="updateLogTitle">Update Log</h2>
<div class="updateLogContainer">
  <div class="updateLog" *ngFor="let update of updateLog">
    <p>{{update}}</p>
  </div>
</div>


<button mat-raised-button class="endOrderButton mt-3" (click)="endCurrentOrder()">End Order</button>
</div>
