
  
  #map {
    height: 400px;
    width: 400px;
    z-index: 0;
    box-shadow: 10px 10px 10px rgb(7, 34, 62,.5);
  }

  .storesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  


  .whyContainer{
    display: flex;
    z-index: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }



  .whyTitle{
    font-size:50px;
  }

  .homeImg{
    width: 100%;
    height: auto;
    margin-top: 50px;
    padding: 0px;

  }

  

  .whyDataContainer{
    display: flex;
    padding-left:30px;
    font-size: 16px;
  }

  


  h1{
    font-size: 50px;
  }



  .whyDataIcons{
    height:50px;
    width: 50px;
    background-color: lightblue;
    border-radius: 50px;
    padding: 10px;
  }

  .whyText{
    width:300px;
  }

.storeImg{
  width: 100%;
}

.bottomBorder{
  background: rgb(129,129,135);
  background: linear-gradient(180deg, rgba(129,129,135,1) 0%, rgba(42,36,106,1) 100%);
  height: 70px;
  width: 100%;
}

.test{
  padding: 10px;
}

.whatsNewSection{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whatsNewContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.whatsNewDataContainer{
  display: flex;
  flex-direction: column;
}


.whatsNewData{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* .whatsNew1{
  opacity: 0;
}

.whatsNew2{
  opacity: 0;
}  */

.testimonialsSection{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}



video{
  position: absolute;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.testContainer{
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
}

.testIcon{
  position: relative;
  background-color: #2A246A;
  border-radius: 50px;
  padding: 10px;
  font-size: 20px;
  color: white;
  letter-spacing: 2px;
  width:50px;
  top:-15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.testTitle{
  z-index: 1;
}


.testText{
  background-color: white;
  padding:20px;
  color:#2A246A;
  border-radius: 20px;
}




.testContainerGlobalHorizontal{
  width: 300px;
}

.animationContainer{
  position: relative;
  display: flex;
  width: 100%;
  height: 530px;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
}

.test1Horizontal{
  position: absolute;
  text-align: center;
  opacity: 0;
  left:-200px;
}

.test2Horizontal{
  position: absolute;
  left:-200px;
  text-align: center;
  opacity: 0;
}

.test3Horizontal{
  position: absolute;
  text-align: center;
  left: 7%;
  margin-right: 10px;
}

.test4Horizontal{
  position: absolute;
  text-align: center;
  left: 40%;
  margin-right: 10px;
}
.test5Horizontal{
  position: absolute;
  text-align: center;
  left: 73%;
  margin-right: 10px;
}

.test6Horizontal{
  position: absolute;
  text-align: center;
  opacity: 0;
  left:-200px;
}

.test7Horizontal{
  position: absolute;
  text-align: center;
  opacity: 0;
  left:-200px;
}



/* ////////////// MOBILE ANIMATION STYLES ////////// */
/* ////////////////////////////////////////// */

.test1Vertical{
  position: absolute;
  text-align: center;
  opacity: 0;
  top:-100px;
}

.test2Vertical{
  position: absolute;
  top:-100px;
  text-align: center;
  opacity: 0;
}

.test3Vertical{
  position: absolute;
  text-align: center;
  top: 7%;
}

.test4Vertical{
  position: absolute;
  text-align: center;
  top: 40%;
}
.test5Vertical{
  position: absolute;
  text-align: center;
  top: 73%;
}

.test6Vertical{
  position: absolute;
  text-align: center;
  opacity: 0;
  top:-100px;
}

.test7Vertical{
  position: absolute;
  text-align: center;
  opacity: 0;
  top:-100px;
}

.testContainerGlobal{
  width: 100%;
}

.iconContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.footer{
  background-color: white;
  width: 100%;
  bottom: 0px;
}

@media (max-width: 1350px) {

  .testContainerGlobalHorizontal{
    width: 200px;
  }

  video{
    height: 600px;
  }

  .animationContainer{
    height:530px;
  }

  
}

@media (max-width: 900px) {
  video{
    height: 700px;
  }

  .animationContainer{
    height:630px;
  }
}


@media (max-width: 1200px) {
  .homeImg{
    width:100%;
  }

  .whyContainer{
    width: 100%;
  }

}

@media (max-width: 600px) {
  .homeImg{
    margin-top: 40px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .whyTitle{
    font-size: 40px;
  }

  .whyContainer{
    border-radius: 0px;
  }

  .whyDataContainer{
    padding-left: 30px;
  }

  h1{
    font-size: 40px;
  }

  video{
    height: 950px;
  }

  .animationContainer{
    height: 830px;
  }

  .testimonialsSection{
    height: 950px;
  }



}


@media (min-width: 400px) { 
  .whyDataContainer{
    padding-left: 60px;
    font-size: 18px;
  }

  
}

@media (min-width: 500px) { 
  .whyDataContainer{
    padding-left: 80px;
    font-size: 20px;
  }
}




  



  

  

  

