
<div class="body">
    <img class="homeImg" src="../../assets/img/family2.png">  
    
    <div class="whyContainer mt-3">
            <div class="whyTitle">Why ShoppingTally?</div>
            <div class="text-center mt-2 mb-5 whyText">I'm 100% committed to complete customer satisfaction. Enjoy the extra time with your family and friends! Let me take care of the shopping! I've got you covered!!!</div>
            <div class="container">
                <div class="row gx-2 gy-2 d-flex justify-content-center">
                    <div class="whyDataContainer col-12 col-sm-6 col-lg-4">
                        <img class="whyDataIcons" src="../../assets/img/payment_icons/applepayicon.png">
                        <div class="test">No Annual Fee</div>
                    </div>
                    <div class="whyDataContainer col-12 col-sm-6 col-lg-4">
                        <img class="whyDataIcons" src="../../assets/img/payment_icons/applepayicon.png">
                        <div class="test">24/7 Emergency Service</div>
                    </div>
                    <div class="whyDataContainer col-12 col-sm-6 col-lg-4">
                        <img class="whyDataIcons" src="../../assets/img/payment_icons/applepayicon.png">
                        <div class="test">Over 7 years experience</div>
                    </div>
                    <div class="whyDataContainer col-12 col-sm-6 col-lg-4">
                        <img class="whyDataIcons" src="../../assets/img/payment_icons/applepayicon.png">
                        <div class="test">Over 10k five star reviews</div>
                    </div>
                    <div class="whyDataContainer col-12 col-sm-6 col-lg-4">
                        <img class="whyDataIcons" src="../../assets/img/payment_icons/applepayicon.png">
                        <div class="test">12% less than Shipt and Instacart</div>
                    </div>
                    <div class="whyDataContainer col-12 col-sm-6 col-lg-4">
                        <img class="whyDataIcons" src="../../assets/img/payment_icons/applepayicon.png">
                        <div class="test">Delivery within the hour</div>
                    </div>
                    
                </div>
            </div>
        
    </div>

    
    <div class="storesContainer mt-5">
        <h1>Available Stores</h1>
        <img class="storeImg" src="../../assets/img/revisedstore.png">
            
    </div>
        

    <hr class="customSectionMargin hrPage">

    

    <!-- <canvas id="model"></canvas> -->
</div>




