video {
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100% ;
  height: 400px;
  overflow: hidden;
  object-fit: cover;
  }
 

  #map {
    height: 400px;
    width: 400px;
    z-index: 0;
    box-shadow: 10px 10px 10px rgb(7, 34, 62,.5);
  }

  .storesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .whyContainer{
    display: flex;
    z-index: 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
  }



  .whyTitle{
    font-size:50px;
  }

  .homeImg{
    width: 80%;
    height: auto;
    margin-top: 50px;
    padding: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  @media (max-width: 1200px) {
    .homeImg{
      width:100%;
    }

    .whyContainer{
      width: 100%;
    }

  }

  @media (max-width: 600px) {
    .homeImg{
      margin-top: 40px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    .whyTitle{
      font-size: 40px;
    }

    .whyContainer{
      border-radius: 0px;
    }

    h1{
      font-size: 40px;
    }
  }



  h1{
    font-size: 50px;
  }

.whyDataContainer{
  display: flex;
  padding-left:50px;
  font-size: 20px;
}

  .whyDataIcons{
    height:50px;
    width: 50px;
    background-color: lightblue;
    border-radius: 50px;
    padding: 10px;
    margin-right: 10px;
  }

  .whyText{
    width:300px;
  }

.storeImg{
  height: auto;
  width: 100%;
  border-radius: 20px;
}

.test{
  padding: 10px;
}

.testimonialsContainer{
  width:100%;
  background-color: #2A246A;
}



  



  

  

  

