<video playsinline autoplay muted loop>
    <source src="../assets/videos/homeIntro.mp4" type="video/mp4">
</video>
<p style="color: red;">HELLO WORLD</p>
<p style="color: red;">HELLO WORLD</p>
<p style="color: red;">HELLO WORLD</p>
<p style="color: red;">HELLO WORLD</p>
<p style="color: red;">HELLO WORLD</p>
<p style="color: red;">HELLO WORLD</p>
<p style="color: red;">HELLO WORLD</p>
<p style="color: red;">HELLO WORLD</p>
<button (click)="showMessage=!showMessage">Click me to toggle</button>

<div *ngIf="showMessage" style="color: red;">
    This message is toggled
</div>


